<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

</head>
<body>

<div class="container">

    <div>
        <form action="/sns/addSubscriber" method="get">
            Enter the Email of Subscriber: <input type="email" name="email">
            <input type="submit" value="Subscriber">
        </form>
    </div>

<div th:unless="${subscriber==null}">
    <h3 th:text="${subscriber}"></h3>
</div>

</div>

    <div>
        <form action="/sns/publishMessage" method="post">
            Enter the Subject For Message : <input type="text" name="subject">
            Write the Message : <textarea name="message"></textarea>
            <input type="submit" value="Publisher">
        </form>
    </div>

<div th:unless="${publisher==null}">
    <h3 th:text="${publisher}"></h3>
</div>

</div>

</body>
</html>